html{
	border: none;
	header.main{
		border-left: 20px solid #000;
		border-right: 20px solid #000;
		padding-bottom: 20px;
		.container{
			background-image: none;
			.logo{
				padding-bottom: 10px;
			}
			nav{
				ul{
					margin: 0;
					padding: 0;
					li{
						margin: 0 0 5px 0;
						padding: 0 !important;
					}
				}
			}
		}
	}
}