// Light
@font-face {
    font-family: 'BestFutureV';
    src: url('fonts/best_future_light_v1.eot');
    src: url('fonts/best_future_light_v1.eot?#iefix') format('embedded-opentype'),
       url('fonts/best_future_light_v1.woff') format('woff'),
       url('fonts/best_future_light_v1.ttf') format('truetype'),
       url('fonts/best_future_light_v1.svg#best_future_light_v1') format('svg');
    font-weight: 200;
    font-style: normal;
}

// Medium
@font-face {
  font-family: 'BestFutureV';
  src: url('fonts/best_future_medium_v1.eot');
  src: url('fonts/best_future_medium_v1.eot?#iefix') format('embedded-opentype'),
       url('fonts/best_future_medium_v1.woff') format('woff'),
       url('fonts/best_future_medium_v1.ttf') format('truetype'),
       url('fonts/best_future_medium_v1.svg#best_future_medium_v1') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
    font-family: 'BestFutureV';
    src: url('fonts/best_future_bold_v1.eot');
    src: url('fonts/best_future_bold_v1.eot?#iefix') format('embedded-opentype'),
         url('fonts/best_future_bold_v1.woff') format('woff'),
         url('fonts/best_future_bold_v1.ttf') format('truetype'),
         url('fonts/best_future_bold_v1.svg#best_future_bold_v1') format('svg');
    font-weight: bold;
    font-style: normal;
}
