// Globals 'Buttons'

@mixin buttons{
  background: $highlight;
  border: none;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 13px;
  font-family: $default-font-bold;
  font-weight: normal;
  color: #fff;
  @include border-radius(3px);
  &:hover{
    color: #fff;
    background: darken($highlight, 5%);
  }
}

.btn{
  @include buttons;
  &.btn-large{
    padding: 20px 30px;
    font-size: 22px;
    @include border-radius(5px);
  }
  &.btn-primary{
    margin-top: 20px;
  }
}