// Globals 'Mixins'

@mixin image-replacement{
  & { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
  & br { display: none; }
}

@mixin clear-fix{
  *zoom: 1; 
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}


@mixin nav-list{  
  @include clear-fix;
  display: block;
  ul{
    float: left;
    list-style: none;
    margin: 0px;
    li{
      float: left;
    }
  }
}

@mixin min-height($val){
  height: auto !important;
  height: $val;
  min-height: $val;
}

@mixin sprite-hover ($init_x, $init_y, $new_x, $new_y) {
  background-position: $init_x $init_y; 
  &:hover{
    background-position: $new_x $new_y;
  }
}
