// Variables
$book-count: 8;
$divider-colour: lighten(#999, 20%);


// Typography Variables
$font-light: 'DIN-light', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-regular: 'DIN-regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-medium: 'DIN-medium', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-black: 'DIN-black', Arial, "Helvetica Neue", Helvetica, sans-serif;


$nav-grey: #858b8c;
$nav-highlight: #ffa030;
$nav-highlight-alt: #ffa030;

$header-colour: #3c4146;
$header-colour-bright: #00b4df;
$header-colour-dark: #3c4146;

$footer-colour: #fff;

// BG Colors
$background-bg: #fafafa;
$subnav-bg: #dbe3e4;
$alternate-bg: lighten(#ecf1f4, 2%);
$footer-bg: #9da6ae;