html{
	border: none;
 	header.main{
		background-image: url(/images/common/header/header-bg-tablet.png);
		.container{
			background-image: url(/images/common/header/header-divider-tablet.png);
			nav{
				ul{
					li{
						a{
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}