$banner-top-padding: 50px;
$banner-bottom-padding: 50px;
$banner-height: (300px - $banner-top-padding - $banner-bottom-padding);


.banner{
  height: $banner-height;
  padding: $banner-top-padding 0 $banner-bottom-padding 0;
  background: url(../images/common/bg-banner-tile.png);
}