footer{
	padding-top: 30px;
	margin-bottom: 40px;
	section{
		padding: 20px 0;
		&.news{
			ul{
				list-style: none;
				float: left;
				margin: 0;
				padding: 0;
				li{
					float: left;
					margin-bottom: 5px;
				}
			}
		}
		&.sponsors{
			border-top: #eee 1px solid;
			border-bottom: #eee 1px solid;
			padding-bottom: 40px;
		}
		&.sub-nav{
			padding: 50px 0;
			nav{
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						&.active{
							a{
								color: red;
							}
						}
					}
				}
			}
		}
	}
}