footer{
  background: $footer-bg;
  padding-top: 40px;
  padding-bottom: 40px; 

  .linkedin{
    margin-top: 5px;
    width: 160px;
    height: 27px;
    float: left;
    text-indent: -3000px;
    background: url('../images/common/btn-linkedIn.png') no-repeat 0 0;
    @include sprite-hover (0, 0, 0, -27px);
  }
}