header.main{
	background-image: url(/images/common/header/header-bg-desktop.png);
	background-repeat: repeat-y;
	background-position: center 0;
	margin: -($page-border-width) auto 0 auto;
	.container{
		background-color: #000;
		background-image: url(/images/common/header/header-divider-desktop.png);
		background-repeat: repeat-y;
		background-position: center 0;
	}
	.logo{
		padding-top: 30px;
		h1{
			@include image-replacement;
			width: 220px;
			height: 30px;
			background: url(/images/common/logo-innovation-bay.png) no-repeat left bottom;
			margin-bottom: 10px;
			a{
				display: block;
			}
		}
	}
	nav{
		float: left;
		ul{
			list-style: none;
			padding: 30px 0 0 0;
			margin: 0;
			min-height: 30px;
			li{
				float: left;
				clear: both;
				padding: 0;
				margin: 0;
			}
			&.single{
				min-height: 15px;
				li{
					padding-top: 15px;
				}
			}
		}
	}
}