header.main{
  height: 90px;

  .logo{
    display: block;
    width: 180px;
    height: 90px;
    background: url(../images/common/logo-technical_people.png) no-repeat 0 0;
    @include image-replacement;
  }

  nav{
    padding: 35px 0 0 0;
    display: block;
    ul{
      float: left;
      list-style: none;
      margin: 0px;
      position: relative;
      li{
        float: left;
        margin-left: 30px;
        &.first{
          margin-left: 5px;
        }
      }
    }
  }
}