%header.main
  .container
    .navbar
      .navbar-inner
        = link_to "Middleman Boilerplate", root_app_path, :class => "brand"
        %ul.nav
          = navigation_item "Home", root_app_path
          