header.main{
	background-image: url(/images/common/header/header-bg-large.png);
	.container{
		background-image: url(/images/common/header/header-divider-large.png);
	}
}

.page-header{
	h2{
		padding-right: 100px;
	}
}