body{
	font-family: $default-font;
	font-weight: 400;
	h1{
		font-weight: 700;
		letter-spacing: -2px;
	}
	h2{
		font-weight: 400;
		letter-spacing: -2px;
		font-size: 48px;
		line-height: 54px;
		color: $font-colour-heading;
		strong{
			font-weight: 700;
		}
		span{
			color: $highlight;
		}
		a{
			color: $font-colour-heading-alt;
			text-decoration: underline;
			&:hover{
				color: darken($font-colour-heading-alt, 5%);
			}
		}
	}
	h3{
		font-size: 15px;
		line-height: 18px;
		color: $highlight;
		font-weight: 700;
		margin-bottom: 25px;
		padding-top: 20px;
		@include divider-top;
	}
	h5{
		font-size: 15px;
		line-height: 18px;
		color: $highlight;
		font-weight: 700;
		margin-bottom: 0px;
	}

	.content{
		section{
		  p, li{
		    font-size: 18px;
		    line-height: 24px;
		   	letter-spacing: 0;
		    font-weight: 300;
		    color: #000;
		    strong{
		      font-weight: 700;
		      letter-spacing: -1px;
		    }
		    a{
		      color: $highlight;
		      text-decoration: underline;
		      &:hover{
		        color: darken($highlight, 5%);
		      }
		    }
		  }
			&.main{
				p, li{
					font-size: 24px;
					line-height: 30px;
					letter-spacing: 0;
				}
			}
		}
	}
}