---
title: Homepage
navigation:
  weight: 80
  title:  Custom Title
  hidden: false
---

.container
  .page-header
    %h2 
      Homepage
      

%section
  .container
    .row
      .span12
        content here
